<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

  <div id="flex-content-container">
    <nav class="nav justify-content-center">
      <a class="nav-link active" href="#">Home</a>
      <a class="nav-link active" href="#">About Me</a>
      <a class="nav-link active" href="#">Cool Tech</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Articles</a>
        </li>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">2019 Articles</a>
        <a class="dropdown-item" href="#">2020 Articles</a>
        <a class="dropdown-item" href="#">2021 Articles</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Archive</a>
      </div>
    </nav>
    <hr>
  </div>


  <div class="container">
    <div class="col-sm-2 col-md-8 col-sm-2">
      <h1>Ruby Retro</h1>
        <h2>A brief synopsis</h2> 
          <h3>Ruby was born in North Dakota. She took up commercial driving has done it ever since. For the last 10 years, she has owned her own trucking company in Tennessee. She has 3 children and homeschools 2 of them.</h3>
      
          <h3>After 19 years of driving, Ruby felt it was time for a new challenge.. which is what led her to try a Coding Bootcamp at Vanderbilt University in Nashville. Being a driven, project centered type A personality, coding was an excellent fit and an immediate passon.</h3>

          <h3> Right now, Ruby is all about collecting ideas and learning how to navigate the web development world. This story is far from over.</h3>
    </div>
  </div>
  

    

     <%= yield %>
  </div>
    <div id="footer">
      <div class="container">
        <b>Look me up!</b>
        <br />
         <b>Social</b>
        <br />
        <br />
        <%= link_to 'https://github.com/SiriMitchell' do %>
          <span class="fa fa-github-square-2x social-button"></span>
        <% end %>
        <%= link_to 'https://www.facebook.com/siri.mitchell.5' do %>
          <span class="fa fa-facebook-square-2x social-button"></span>
        <% end %>

      </div>
    </div>
  </div>


  
</body>
</html>