<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

  <div id="flex-content-container">
    <nav class="nav justify-content-center">
      <a class="nav-link active" href="#">Home</a>
      <a class="nav-link active" href="#">About Me</a>
      <a class="nav-link active" href="#">Cool Tech</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Articles</a>
        </li>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">2019 Articles</a>
        <a class="dropdown-item" href="#">2020 Articles</a>
        <a class="dropdown-item" href="#">2021 Articles</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Archive</a>
      </div>
    </nav>
    <hr>


  <div class="container">
    <div class="row justify-content-md-center">
      <div class="colcol-lg-2">
      </div>
      <div class="col-md-auto text-centered">
        <h1>Ruby Retro</h1>
          <h2>A brief History</h2> 
            <h3>Originally from Fargo, ND (you betcha!), Siri moved to Tennessee in 2008. She already had 8 years of professional truck driving under her belt, so she decided to start her own trucking company and it grew like a weed - and still is. <br> But being retro (old?), Siri would like to travel with her 3 children. She is looking forward to moving somewhere new and exciting someday.. that kind of a plan means a new career.<br> Having a passion for learning, Siri took up a challenge to try out coding through a bootcamp hosted by Vanderbilt.. and LOVED IT. Ruby Retro was born and the rest, my friends.. is yet to come...</h3>
      </div>
      <div class="col col-lg-2">
      </div>
    </div>
  </div>

    

     <%= yield %>
  </div>
    <div id="footer">
      <div class="container">
        <b>Look me up!</b>
        <br />
         <b>Social</b>
        <br />
        <br />
        <%= link_to 'https://github.com/SiriMitchell' do %>
          <span class="fa fa-github-square-2x social-button"></span>
        <% end %>
        <%= link_to 'https://www.facebook.com/siri.mitchell.5' do %>
          <span class="fa fa-facebook-square-2x social-button"></span>
        <% end %>

      </div>
    </div>
  </div>


  
</body>
</html>